<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatsParser_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <StatsParser_WF.Properties.Settings>
            <setting name="statsSaves" serializeAs="String">
                <value>sneak_time
jump</value>
            </setting>
            <setting name="embedAssociations" serializeAs="String">
                <value>stat.playerKills|:crossed_swords: Убийств;
useItem.minecraft.bow|:bow_and_arrow: Выстрелов из лука;
stat.deaths|:skull_crossbones: Смертей;</value>
            </setting>
        </StatsParser_WF.Properties.Settings>
    </userSettings>
</configuration>